<h1>text tags:</h1>
<h2>flowers</h2>
<ul>
  <li>jasmin</li>
  <li>rose</li>
  <li>lotus</li>
  <li>lily</li>
  <li>mary gold</li>
  <li>hibicus</li>
  <ol type="a">
    <li>yellow</li>
    <li>orange</li>
    <li>pink</li>
  </ol>
</ul>
<dl>
  <dt>define of jasmin:</dt>
  <dd>1.jasmin provide nice smel , <br />2.it have a white color</dd>
</dl>
<dfn>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel eaque dolorem beatae quibusdam sunt veritatis quos maxime. Tempore, hic culpa.</dfn>
 <p> <blockquote>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam vitae molestiae inventore officia consequuntur dolorum deleniti facere! Magni maxime temporibus numquam <q>cum fuga et sapiente repudiandae quasi! Voluptatum, dolore eaque! Temporibus sit ab provident quia mollitia culpa totam </q> Unde cupiditate beatae asperiores eveniet quos amet animi aut in numquam.</blockquote><p>
  <p> the privious rate is <del>5000</del> but just now<ins>2000</ins></p>
  <h3> some calculation</h3>
   <p>100<sub>10</sub></p>
   <p>1000<sup>2</sup></p>






